In [210]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, f1_score, accuracy_score, make_scorer
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from geopy.geocoders import Nominatim
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, f1_score, accuracy_score, make_scorer
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [211]:
df = pd.read_csv('SaltyAnimators Salary Collection.csv',encoding='utf-8')
df.describe()

,RATE,Role,Seniority,Location,Years,Company,Gender,Union
count,2302,2301,2229,2281,2281,994,2238,1737
unique,2063,1014,287,587,293,527,4,189
top,60000.00,3D Animator,Junior,Vancouver,3,Freelance,Female,No
freq,8,243,447,218,233,39,1251,1082

In [212]:
print(df.shape)
df.isnull().sum()

(2302, 8)

RATE            0
Role            1
Seniority      73
Location       21
Years          21
Company      1308
Gender         64
Union         565
dtype: int64

In [213]:
#Basic cleanings
for c in df:
    df[c] = df[c].str.lower()
    df[c].str.replace(',','')
    df[c].str.replace(' ','')

In [214]:
#Deal with Gender
tmp = []
for index, row in df.iterrows():
    if 'male' in str(row['Gender']):
        tmp.append(1)
    elif 'female' in str(row['Gender']):
        tmp.append(0)
    else:
        df.drop(index, inplace=True)
df['Gender'] = tmp

In [215]:
#Deal with Company
tmp = []
for data in df['Company']:
    if 'freelance' in str(data):
        tmp.append(1)
    else:
        tmp.append(0)

df['Company'] = tmp

In [216]:
#Deal with Union
tmp = []
for data in df['Union']:
    if 'no' in str(data):
        tmp.append(1)
    else:
        tmp.append(0)

df['Union'] = tmp

In [217]:
#Deal with Years
tmp = []
for index, row in df.iterrows():
    year = ''.join(i for i in str(row['Years']) if i.isdigit())
    
    if len(year)== 0:
        df.drop(index, inplace=True)
    else:
        tmp.append(year)

df['Years'] = tmp

In [218]:
#Deal with Seniority
tmp = []
for index, row in df.iterrows():
    if 'director' in str(row['Seniority']):
        tmp.append(0)
    elif 'supervisor' in str(row['Seniority']):
        tmp.append(1) 
    elif 'senior' in str(row['Seniority']) or 'sr' in str(row['Seniority']):
        tmp.append(2) 
    elif 'mid' in str(row['Seniority']) or 'junior' in str(row['Seniority']) or 'Intermediate' in str(row['Seniority']) or 'jr' in str(row['Seniority']):
        tmp.append(3)
    elif len(str(row['Seniority']))== 0:
        df.drop(index, inplace=True)
    else:
        df.drop(index, inplace=True)

df['Seniority'] = tmp

In [219]:
#Deal with Rate
tmp = []
for index, row in df.iterrows():
    rate = ''.join(i for i in str(row['RATE']) if i.isdigit())
    if len(rate)>7:
        df.drop(index, inplace=True)
    elif len(rate)== 0:
        df.drop(index, inplace=True)
    else:
        tmp.append(rate)


df['RATE'] = tmp

In [220]:
ohe = OneHotEncoder()
df.dropna(inplace = True)

In [221]:
#Deal with Location
# tmp = []
# loc = Nominatim(user_agent="GetLoc")
# geoLoc = Nominatim(user_agent="GetLoc")

# for index, row in df.iterrows():
#     getLoc = loc.geocode(str(row['Location']))
#     tmp.append(getLoc)

# df['Location'] = tmp
# transformed = ohe.fit_transform(df["Location"].values.reshape(-1, 1))
# df["Location"] = transformed.toarray()
dummy_location = pd.get_dummies(df['Location'])

df = pd.merge(
    left=df,
    right=dummy_location,
    left_index=True,
    right_index=True,
)

In [222]:
#Deal with Role
# transformed = ohe.fit_transform(df["Role"].values.reshape(-1, 1))
# print(transformed)
# df["Role"] = transformed.toarray()
dummy_role = pd.get_dummies(df['Role'])
df = pd.merge(
    left=df,
    right=dummy_role,
    left_index=True,
    right_index=True,
)

df.drop(['Location', 'Role'], axis=1, inplace=True)

In [223]:
df.dropna(thresh=1,inplace = True)
df["RATE"] = df["RATE"].astype("float")
df["Seniority"] = df["Seniority"].astype("float")
df["Years"] = df["Years"].astype("float")
df["Company"] = df["Company"].astype("float")
df["Gender"] = df["Gender"].astype("float")
df["Union"] = df["Union"].astype("float")



y = df['RATE']
X = df.drop(df.columns[[0]], axis=1, inplace=False)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

regressor = LinearRegression()
regressor.fit(X_train,y_train) 

y_pred = regressor.predict(X_test) 
print(mean_absolute_error(y_pred,y_test))

13991720861218.537

In [224]:
print(y_pred)

[-1.70858949e+12  1.39614562e+05  3.49728500e+05 -1.72980438e+05
 -8.99511875e+04  5.95583569e+13 -1.70858878e+12  4.21656875e+04
 -1.70858712e+12 -1.70858886e+12 -1.39699164e+13 -1.25143773e+13
  7.62299938e+05  3.39915875e+05 -1.20934195e+14  3.99794312e+05
  1.50316338e+06 -3.03731875e+04 -2.43569591e+13  2.32888625e+05
 -1.70858969e+12  1.22161406e+06  1.95637850e+06  2.67079500e+05
  1.33004938e+05 -3.06795750e+05  3.85059375e+05 -1.70858867e+12
 -1.42229664e+13 -4.51101625e+05 -1.24833356e+14  2.67079500e+05
  7.71239375e+04  3.46041625e+05 -8.62704812e+05 -1.70858894e+12
  6.82636163e+13  3.67460000e+05 -1.70858757e+12  1.73328938e+05
  3.15726875e+04 -1.70858865e+12  4.23335625e+05  1.74970974e+13
  1.34165625e+05 -1.25143776e+13  6.46540562e+05  4.03545562e+05
 -2.66943375e+05  7.80899992e+13  1.11273681e+06 -1.70858894e+12
 -1.70858959e+12  3.33714312e+05 -6.18614667e+12 -4.07458534e+13
  2.49697688e+05 -1.70858897e+12 -1.70858896e+12  3.37183750e+04
 -2.28770384e+13 -1.70858891e+12  2.98958562e+05 -9.76070504e+13
  2.77936751e+13  4.18275750e+05  3.45857625e+05 -1.42229665e+13
  3.93475188e+05  4.63828708e+13  2.67090188e+05 -1.70858864e+12
  8.35427559e+12  5.41733125e+04  5.50879375e+04  4.59259638e+13
 -1.70858836e+12  3.67435062e+05  9.38349175e+06 -6.64435188e+05
  4.22088125e+04  5.40547500e+04 -7.96175625e+04  4.03538438e+05
  1.03497550e+06 -3.54773125e+04 -8.56427644e+13  3.83076875e+05
 -2.77724050e+13 -5.68765191e+13  3.48530293e+13 -3.54505625e+05
 -4.62162125e+05 -1.70858900e+12 -1.18589294e+06 -1.70858845e+12
  1.69018169e+06 -1.70858923e+12 -1.70858846e+12 -4.57013438e+05
  6.64568688e+12  1.10018125e+05  3.38496188e+05  2.33522662e+13
 -1.61814880e+13  5.86116770e+12 -3.86288125e+04 -1.70858757e+12
 -1.70858894e+12  2.84156312e+05  3.67420812e+05 -1.70858869e+12
 -1.70858846e+12 -3.57444690e+13 -1.70858846e+12 -1.70858900e+12
 -3.70926826e+13 -1.70858875e+12 -2.48700875e+05 -3.77794309e+13
  2.67086625e+05 -9.65917970e+13 -2.95643875e+05  6.78084688e+05
 -1.70858850e+12 -5.03136375e+05 -9.77567846e+12 -7.85284875e+05
  1.05692425e+06  4.26893556e+06  3.80441812e+05  1.28829338e+06
  7.78467312e+05  2.49510625e+04 -1.70858896e+12  2.87332875e+05
 -6.42080000e+04 -1.70859124e+12 -1.70858894e+12 -1.28700149e+14
 -2.89594991e+13 -3.86216875e+04 -1.70858855e+12  4.03581188e+05
 -1.48352438e+05 -1.70858971e+12  3.60754250e+05  1.72104982e+13
 -3.89949998e+13 -7.01302500e+04 -1.70858899e+12  2.15752812e+05
  3.35899375e+04  4.51311500e+05 -2.49036000e+05 -5.76868871e+13
 -3.35430188e+05  5.42445000e+04 -8.11387625e+05 -1.48572821e+14
 -2.45422500e+05  3.71296250e+04  3.96821938e+05  2.41919688e+05
 -1.11692595e+13 -3.37575904e+13  1.07239188e+05  3.30537562e+05
 -9.99429062e+05 -1.25143774e+13 -1.35872062e+05 -4.77222000e+05
  1.69007438e+05 -7.46695973e+12 -3.89404250e+05  5.00167688e+05
 -1.70858836e+12 -1.42229665e+13  3.96875625e+04  4.25625000e+02
  2.07117619e+06 -1.70858857e+12  8.61768062e+05  1.62849812e+05
 -1.70858884e+12 -1.25143774e+13  2.07092625e+05 -3.38168405e+13
  5.06468314e+13 -2.70261562e+05  1.00124376e+13 -6.90755000e+04
  3.57649562e+05  5.21370938e+05 -1.70858821e+12 -6.65024938e+05
  2.97943000e+05 -7.45157875e+05  3.37112500e+04 -1.70858894e+12
  2.67079500e+05  1.58209312e+05  1.91620500e+05  1.55921088e+06
 -1.70858884e+12  2.98859688e+05 -1.04839297e+13 -2.93107438e+05
  1.57250538e+06  3.46969938e+05  3.99328375e+05 -1.70858886e+12
 -1.34451147e+13 -1.70858907e+12  4.75254938e+05 -1.70858822e+12
 -1.70858889e+12  1.11561702e+14  2.08304312e+06 -1.86761875e+05
 -4.57910312e+05  8.27419438e+05  2.66592375e+05 -1.70858648e+12
  9.48205000e+04  1.90435562e+05  1.59154294e+06 -3.63390326e+13
 -7.49733562e+05  5.15252750e+05 -2.41542230e+13  4.74740000e+04
  2.21457000e+05 -1.70858874e+12 -5.76868871e+13  6.08721875e+05
  1.05360062e+05  9.06787838e+06 -3.72173750e+05 -1.42229664e+13
 -1.70858903e+12  2.67079500e+05 -4.90749987e+13 -1.70858884e+12
 -1.70858874e+12 -1.70858874e+12 -1.70858884e+12 -1.70858874e+12
 -5.77469375e+04 -9.00486625e+05  5.67372194e+06 -1.34116348e+13
  7.26420312e+05  2.32086812e+13 -1.70858884e+12 -8.84358062e+05
  3.93236181e+06 -1.84957875e+05  4.03563375e+05 -2.11323875e+05
  1.97444450e+13 -2.21660504e+13 -5.14304715e+13  7.93131812e+05
  6.09740625e+04 -5.71656250e+03  6.21695625e+05 -1.70858871e+12
 -1.20968679e+13 -1.70858884e+12 -1.70858959e+12  7.42882694e+06
  3.67438625e+05 -1.70858852e+12  2.74370750e+05  3.03543362e+06
 -1.70858974e+12 -1.70858796e+12 -1.70858757e+12 -1.70858747e+12
 -1.32316544e+06 -1.13787682e+13  2.39130812e+05 -1.04839294e+13
  6.79934125e+05  2.10984988e+06 -4.02739375e+04  3.49721375e+05
 -1.70858892e+12  2.67086625e+05  1.20923472e+14 -1.90500455e+14
  1.03166688e+05 -1.70858869e+12 -1.70858957e+12  1.68965675e+06
  2.19653125e+05 -2.39895750e+05 -9.72311875e+04  9.13746188e+05
  6.51723562e+05  4.38875812e+05 -2.54203438e+05 -1.25143774e+13
 -2.48697312e+05  5.76712875e+05 -1.70858872e+12  8.03961250e+04
 -4.37614784e+12  5.75628312e+05  1.11343300e+06  5.00149938e+05
  4.70653254e+12  2.67072375e+05 -1.05216927e+14 -6.01510375e+05
 -1.70858924e+12 -1.70858911e+12  6.46533438e+05  1.37734375e+05
 -1.70858767e+12 -1.70858910e+12 -1.49650367e+15  4.80818688e+05
 -2.75131438e+05  6.48773708e+13 -7.12132875e+05 -1.70858924e+12
 -3.51181702e+13  7.10475427e+13 -1.70858938e+12 -6.41937500e+04]

In [225]:
print(y_test)

1759       1650.0
458        3100.0
501       75000.0
679       60000.0
1660      55000.0
1589         93.0
2300       8000.0
557      180000.0
711         470.0
1920        120.0
1011       2200.0
370        4000.0
684          42.0
1135      42000.0
688        7200.0
690       50000.0
319       85800.0
2179      62400.0
1701       2070.0
1950         57.0
1217      50000.0
1474      68000.0
1173      54000.0
331          93.0
1539        130.0
104         400.0
1693        778.0
1336    4500000.0
1764     451800.0
2207      24000.0
142        3250.0
651       74100.0
754       85000.0
2187        950.0
2126      85000.0
1943      98000.0
1559         60.0
605          65.0
1199         80.0
478        2100.0
575        1923.0
818         100.0
110       85000.0
1493        400.0
241       28800.0
2215       1500.0
641       70000.0
479        5500.0
852       90000.0
2063      30000.0
2028       1350.0
719      375078.0
735          48.0
1769    5600000.0
17           90.0
72          150.0
2182      46000.0
1209    2500000.0
1798      55000.0
2194      28000.0
1435      12000.0
1063        170.0
1395      90000.0
1277         95.0
1238       8000.0
1716       3570.0
21        29950.0
1258       3000.0
163       38000.0
2246     350000.0
407       70200.0
1330       1950.0
417       32000.0
1234         73.0
1604       1710.0
681       50000.0
1341        150.0
419       95000.0
1475      96200.0
1992    4500000.0
1373         39.0
1585      98000.0
256       55000.0
512       30000.0
1937       5663.0
543        3225.0
890        7200.0
1686      35000.0
2079         85.0
2041       2000.0
1328      17000.0
1868       2400.0
987       80000.0
1250      30000.0
1906       1860.0
1353      25000.0
813        1500.0
1754    7500000.0
2067      73250.0
1465      80000.0
1391    1544833.0
703         150.0
699     6000000.0
707       62400.0
531       26000.0
962       82000.0
894       52000.0
940          92.0
2211     108027.0
2074      30000.0
380       67000.0
302       36400.0
1381    6000000.0
1626       2100.0
849       65000.0
6            27.0
80         1500.0
1311      55000.0
1453      45000.0
1743       1955.0
566          95.0
346       41200.0
42        40000.0
1001      33000.0
970          80.0
260       31000.0
1487      60000.0
1188        250.0
1175      58000.0
221        1000.0
1731      76146.0
1890       1000.0
1452      77000.0
2018         46.0
1137         20.0
592       58000.0
23        25000.0
1800         85.0
1356      70000.0
73         2535.0
2019     550630.0
915       73000.0
2235       1800.0
561       72500.0
1456      65000.0
11        98000.0
498       27500.0
249     5600000.0
149       70000.0
803       44000.0
1486      40000.0
2296       1150.0
112       28600.0
1784         58.0
1368       3300.0
2264      24000.0
865     7500000.0
753          75.0
89        72000.0
118         450.0
758       45600.0
125        1800.0
2250        112.0
159        1000.0
309       33000.0
968      115000.0
1329         15.0
573       31200.0
20        21000.0
411       42000.0
585     8930000.0
71         1150.0
629         750.0
471       15000.0
645       32400.0
673          90.0
981     9100000.0
2003      62500.0
352       45000.0
1281        250.0
213       29000.0
2145      82000.0
219       83000.0
1729         50.0
1495         52.0
597       55000.0
357       52000.0
1767      52000.0
1757       2400.0
1741      70000.0
2216      49400.0
1290      73000.0
1794         44.0
367         110.0
2065     576000.0
1780     110000.0
815      993800.0
1016      48000.0
539       20400.0
819      100000.0
440          90.0
1956     125000.0
2198       1400.0
2121         30.0
2123     108160.0
2279      17006.0
193        8000.0
1554      24250.0
351     7300000.0
1677       1200.0
1396      97000.0
1208        125.0
582     8000000.0
1548      32000.0
1444      93000.0
5         70000.0
284         850.0
1860     652600.0
209       80000.0
685       30000.0
1203      24000.0
323       92000.0
1055      50000.0
1776      87000.0
2257        110.0
1195       3000.0
1225       7000.0
1710    3800000.0
905       65000.0
1102       2900.0
499       28000.0
2141       1650.0
1298        150.0
304        1300.0
2262      24000.0
1837      93600.0
1996     125000.0
1476    7488036.0
38           60.0
817     9800000.0
2189       2800.0
639     3400000.0
1039      72000.0
780      155000.0
1254       2200.0
1269       2400.0
202      137500.0
1235     114400.0
1846       1650.0
1333         95.0
1773       3200.0
2049     660000.0
2119         57.0
2196       3250.0
1066       1000.0
463       31000.0
1866    9000000.0
1872      40000.0
570       26000.0
122        2600.0
730          60.0
577       42000.0
1675       3472.0
1678      28000.0
243        2600.0
2122      72000.0
956      135000.0
2255    6800000.0
2154         37.0
1593      88500.0
1386      51500.0
762        3545.0
406      110000.0
1099        367.0
760       28000.0
793          50.0
1214    7500000.0
1410      77000.0
2026       1225.0
237       83200.0
1782      33000.0
369          30.0
317        1500.0
709         800.0
687         145.0
1984      95000.0
2111    5900000.0
653       75000.0
1808       2200.0
429       75000.0
2274      70000.0
261      551150.0
358       78000.0
1722      39600.0
969        1600.0
1112       1500.0
1294      54600.0
1732      44500.0
1749       1350.0
1306         73.0
1316      90000.0
2284       2000.0
1869       2875.0
649       22000.0
1455         40.0
2120         90.0
992        8300.0
177        2800.0
280        1342.0
1439     105000.0
1683       1100.0
695       80000.0
1056     250000.0
620       75000.0
194       18000.0
1588         93.0
1010     220420.0
2091       2200.0
427       85000.0
2130         70.0
234       72000.0
1352       6000.0
1545      10000.0
1725     114000.0
2260      27000.0
599           4.0
26           61.0
1285         53.0
59           97.0
2076         80.0
1409         97.0
84        28000.0
Name: RATE, dtype: float64